{% extends 'base.html' %}

{% block head %}
    <title>Home</title>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>Home</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.post }}
                    <button type="submit">Submit</button>
                </form>
                {% for post in posts %}
                    <h2>{{ post.post }}</h2>
                    <p>Posted by {{ post.user.get_full_name }} on {{ post.updated_date }}</p>
                {% endfor %}
            </div>
            <div class="col-md-4">
                <h2>Other People</h2>
                {% for user in users %}
                    {% if not user in friends %}
                        <a href="{% url 'accounts:view_profile_with_pk' pk=user.pk %}">
                            <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                        </a>
                        <a href="{% url 'home:follow' operation='follow' pk=user.pk %}">
                            <button type="button" class="btn btn-success">Add</button>
                        </a>
                    {% endif %}
                {% endfor %}
                <h2>Friends</h2>
                {% for friend in friends %}
                    <a href="{% url 'accounts:view_profile_with_pk' pk=friend.pk %}">
                        <h3>{{ friend.first_name }} {{ friend.last_name }}</h3>
                    </a>
                    <a href="{% url 'home:follow' operation='unfollow' pk=friend.pk %}">
                        <button type="button" class="btn btn-danger">Remove</button>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
